<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area bg-img bg-overlay jarallax"
     style="background-image: url(../../../assets/img/bg-img/16.jpg);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcrumb-content text-center">
          <h2 class="page-title">Our Room</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Room</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Area End -->

<!-- Rooms Area Start -->
<form (ngSubmit)="reserver()">
  <div class="roberto-rooms-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8">
          <!-- Single Room Area -->
          <div *ngFor="let room of rooms"
               class="{{room.checked ? 'room-item-clicked' : ''}} single-room-area d-flex align-items-center mb-50 wow fadeInUp"
               data-wow-delay="100ms">
            <!-- Room Thumbnail -->
            <div class="room-thumbnail">
              <img [src]="room.img" alt="">
            </div>
            <!-- Room Content -->
            <div class="room-content">
              <h2>Chambre {{room.type}}</h2>
              <h4>{{room.PRIX_BASE}}DT <span>/ Day</span></h4>
              <div class="room-feature">
                <h6>Capacity: <span>{{room.MAX_PERSONNES}}</span></h6>
                <h6>Equipements: <span>Wifi, television ...</span></h6>
              </div>

          
              <!-- <div class="room-content">
              <h2>Chambre {{room.type}}</h2>
              <h4>{{room.PRIX_BASE}}DT <span>/ Jour</span></h4>
              <div class="room-feature">
                <h6>Capacity: <span>{{room.MAX_PERSONNES}}</span></h6>
                <h6>Equipements: <span>Wifi, television , telephone...</span></h6>
              </div> -->

              <div class="row">
                <div class="col-md-6">
                  <a href="#" class="btn view-detail-btn">View Details <i class="fa fa-long-arrow-right"
                                                                          aria-hidden="true"></i></a>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn roberto-btn w-100" (click)="reserver(room.ID)">Réserver</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Pagination -->
          <!--<nav class="roberto-pagination wow fadeInUp mb-100" data-wow-delay="1000ms">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next <i class="fa fa-angle-right"></i></a></li>
            </ul>
          </nav>-->
        </div>

       
      </div>
    </div>
  </div>
</form>


<!-- Rooms Area End -->

<!-- Call To Action Area Start -->
<section class="roberto-cta-area">
  <div class="container">
    <div class="cta-content bg-img bg-overlay jarallax"
         style="background-image: url(../../../assets/img/bg-img/1.jpg);">
      <div class="row align-items-center">
        <div class="col-12 col-md-7">
          <div class="cta-text mb-50">
            <h2>Contact us now!</h2>
            <h6>Contact (+12) 345-678-9999 to book directly or for advice</h6>
          </div>
        </div>
        <div class="col-12 col-md-5 text-right">
          <a href="#" class="btn roberto-btn mb-50">Contact Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call To Action Area End -->

<!-- Partner Area Start -->
<div class="partner-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="partner-logo-content d-flex align-items-center justify-content-between wow fadeInUp"
             data-wow-delay="300ms">
          <!-- Single Partner Logo -->
          <a href="#" class="partner-logo"><img src="../../../assets/img/bg-img/2.jpg" alt=""></a>
          <!-- Single Partner Logo -->
          <a href="#" class="partner-logo"><img src="../../../assets/img/bg-img/20.jpg" alt=""></a>
          <!-- Single Partner Logo -->
          <a href="#" class="partner-logo"><img src="../../../assets/img/bg-img/21.jpg" alt=""></a>
          <!-- Single Partner Logo -->
          <a href="#" class="partner-logo"><img src="../../../assets/img/bg-img/22.jpg" alt=""></a>
          <!-- Single Partner Logo -->
          <a href="#" class="partner-logo"><img src="../../../assets/img/bg-img/23.jpg" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Partner Area End -->
